<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    
</head>
<body>
<div class="container">
    <h1>Welcome To Course Registration</h1>
    <h3>Academic Year 2025-2026   Teacher Login</h3>

    <table>
        <tr>
            <th>S.No.</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Course Registration Count</th>
        </tr>
        <tr>
            <td>1</td>
            <td>1234</td>
            <td>Subject 1</td>
            <td>250</td>
        </tr>
        <tr>
            <td>2</td>
            <td>1235</td>
            <td>Subject 2</td>
            <td>250</td>
        </tr>
        <tr>
            <td>3</td>
            <td>1236</td>
            <td>Subject 3</td>
            <td>250</td>
        </tr>
        <tr>
            <td>4</td>
            <td>1237</td>
            <td>Subject 4</td>
            <td>250</td>
        </tr>
        <tr>
            <td>5</td>
            <td>1238</td>
            <td>Subject 5</td>
            <td>250</td>
        </tr>
        <tr>
            <td>6</td>
            <td>1239</td>
            <td>Subject 6</td>
            <td>250</td>
        </tr>
    </table>
    <a href="/" class="logout-btn">Logout</a>
</div>
</body>
</html>